<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css" />
<script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js"></script>

<script>
window.addEventListener("load", function(){
window.cookieconsent.initialise({
  "palette": {
    "popup": {
      "background": "#222222",
      "text": "#ffffff"
    },
    "button": {
      "background": "#f0326b"
    }
  },
  "position": "bottom-right",
  "theme": "classic",
  "content": {
    "message": "{{ .Site.Params.cookies.message }}",
    "dismiss": "{{ .Site.Params.cookies.dismiss }}",
    "link": "{{ .Site.Params.cookies.link}}",
    "href": "{{ .Site.Params.cookies.href }}"
  }
})});
</script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-138964528-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-138964528-2');
</script>
